#music {
    background-image: url('/src/assets/images/1234.jfif');
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
border: 0px solid #000000;
}

.container.app__player__container {
    width: 20%;
    text-align: center;
    height: 54vh;
    position: relative;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #2D2727;
    border-radius: 4rem;
    -moz-border-radius: 103px 103px 103px 103px;
    -webkit-border-radius: 103px 103px 103px 103px;
    border: 2px solid transparent;
    border-color: var(--color-primary-variant);
}

.instrument {
    position: absolute;
    border: none;
}

.speaker-img1 {
    bottom: -5rem;
    left: -17rem;
    height: 300px;
    width: 200px;
}

.speaker-img2 {
    bottom: -5rem;
    right: -17rem;
    height: 300px;
    width: 200px;
    transform: rotateY(180deg);
}

.song__name__container {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.artist__name__container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.control__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15rem;
}

.general_icons:hover {
    color: #A149FA !important;
    cursor: pointer;
}

.side_icons:hover {
    color:var(--color-light) !important;
    cursor: pointer;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES (Tablets)) =============*/

@media screen and (max-width: 1024px){
    .container.app__player__container{
        width: 50%;
    }
    .sound__img {
        width: 120px;
        top: 5px;
    }
}


/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/

@media screen and (max-width: 600px) {
    .container.app__player__container{
        width: 70%;
    }
    .sound__img {
        width: 70px;
        right: 0.5px;
    }
} 