.container.app__player__container {
    width: 20%;
    text-align: center;
    height: 54vh;
    position: relative;

    background-image: url('../../assets/images/1234.jfif');
    background-size: cover;
    background-position:center;
    background-size: 30rem;
    background-repeat:no-repeat;
    background-color: #2D2727;

    border-radius: 4rem;    
    -moz-border-radius: 103px 103px 103px 103px;
    -webkit-border-radius: 103px 103px 103px 103px;
    border: 1px solid transparent;
    border-color: var(--color-primary-variant);
}

.sound__img {
    position: absolute;
    top: -35px;
    right: -35px;
    width: 130px;
}

.image__container {
    display: flex;
    justify-content: center;
    padding: 30px;
    bottom: 35px;
}

.artist__name__container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.control__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 0.7rem;
}

.general_icons:hover {
    color: #A149FA !important;
    cursor: pointer;
}

.side_icons:hover {
    color:var(--color-light) !important;
    cursor: pointer;
}

.char__img {
    width: 4rem;
    margin-top: 0.5rem;
}

.music__image {
    width: 170px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    -webkit-box-shadow: 0px -38px 38px -38px #FB2576;
    -moz-box-shadow: 38px -38px 38px -38px #FB2576;
    box-shadow: 38px -49px 38px -38px #FB2576;
}


/* ============= MEDIA QUERIES (MEDIUM DEVICES (Tablets)) =============*/

@media screen and (max-width: 1024px){
    .container.app__player__container{
        width: 50%;
    }
    .sound__img {
        width: 120px;
        top: 5px;
    }
}


/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/

@media screen and (max-width: 600px) {
    .container.app__player__container{
        width: 70%;
    }
    .sound__img {
        width: 70px;
        right: 0.5px;
    }
    .char__img {
        width: 4rem;
        margin-top: 2rem;
    }
    .music__image {
        width: 100px;
    }
} 