.container.player__container {
    text-align: center;
    color: azure;
    padding: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.song__name {
    color: #FF0303;
    font-weight: bolder;
}

.artist__name {
    color: white;
    font-weight: bolder;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES (Tablets)) =============*/

@media screen and (max-width: 1024px){

}


/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/

@media screen and (max-width: 600px) {

} 

