.cta {
    display: grid;
    position: fixed;
    top: 2vh;
    left: 2vh;
    border: 1px solid var(--color-primary);
    border-radius: 0.4rem;
    min-width: 5.5vh;
    max-width: 5.5vw;
    padding-top: 1.5rem;
    color: var(--color-primary);
    justify-items: center;
    align-items: center;
}

.cube {
    max-width: 80%;
    max-height: auto;
    text-align: center;
}

.contact_image {
    width: 100%;
}

.cv_img {
    width: 73%;
    height: 87%
}

.github_img {
    width: 80%;
    height: 90%
}

/* ============= MEDIA QUERIES (SMALL DEVICES (Phones)) =============*/
@media screen and (max-width: 600px) {
    
    .cta {
        padding-top: 0.8rem;
    }
}

