.footer {
    padding: 0.1rem 0;
    text-align: center;
    border-top: 3px solid var(--color-primary);
    background-image: url(http://www.transparenttextures.com/patterns/ice-age.png);
    background-color: #162447;
}

.footer__logo {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.logoIMG {
    width: 17vh;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-primary);
    font-size: 170%;
}

/* MEDIA QUERIES (SMALL DEVICES (Phones)) */

@media screen and (max-width: 600px) {
    
    .footer__copyright {
        margin-bottom: 2rem;
        font-size: 3vh;
    }
}