nav {
    position: fixed;
    right: 0%;
    transform: translateY(-80%);
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    bottom: 7rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
}  

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.5rem;
}

nav a:hover {
    background: rgb(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}



/* MEDIA QUERIES (SMALL DEVICES (Phones)) */

@media screen and (max-width: 600px) {
    nav {
        right: 5%;
        background: rgba(0, 0, 0, 0.092);
        display: flex;
        bottom: -3.5rem;
        gap: 0.3rem;
        backdrop-filter: blur(10px);
    }    

    nav a {
        padding: 0.7rem;
        font-size: 1rem;
        margin-right: 1.5rem;
    }
}