nav {
    position: fixed;
    right: 0;
    transform: translateY(-50%); 
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    top: 50%;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 20%;
    display: flex;
    color: var(--color-light);
    font-size: 1.8rem;
}

nav a:hover {
    background: rgb(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* MEDIA QUERIES (SMALL DEVICES (Phones)) */

@media screen and (max-width: 600px) {
    nav {
        padding: 0;
    }    

    nav a {
        padding: 0.7rem;
        font-size: 0.8rem;
        margin-right: 0rem;
    }
}